<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>assets</key>
			<array>
				<dict>
					<key>kind</key>
					<string>software-package</string>
					<key>url</key>
					<string>https://114.242.94.138:50010/install/package/HoolaiDemo-2.19.0_hoolai.ipa</string>
				</dict>
				<dict>
					<key>kind</key>
					<string>display-image</string>
					<key>needs-shine</key>
					<string>true</string>
					<key>url</key>
					<string>https://114.242.94.138:50010/install/ios/icon/57x57.png</string>
				</dict>
				<dict>
					<key>kind</key>
					<string>full-size-image</string>
					<key>needs-shine</key>
					<string>true</string>
					<key>url</key>
					<string>https://114.242.94.138:50010/install/ios/icon/512x512.jpg</string>
				</dict>
			</array>
			<key>metadata</key>
			<dict>
				<key>bundle-identifier</key>
				<string>com.hoolai.yqfs</string>
				<key>bundle-version</key>
				<string>1.6.0</string>
				<key>kind</key>
				<string>software</string>
				<key>releaseNotes</key>
				<string>1.6版本发布</string>
				<key>title</key>
				<string>iOS 测试</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
